body {
    background-color:  #b3ecff;
}
.startupButtons{
    margin-top: 10px;
    text-align: center;
}

.startupButtons .btn {
    height: 100px;
    width: 300px;
    margin: 20px;
    padding: 35px 25px;

}

.player {
    display: inline;
    float: left;
}
.player.computer {
    float: right;
}
.tic_table {
     border: 5px solid black;
     margin: auto;
 }
.tic_table  td{
    border: 1px solid black;
    background-color: #ffb3ff;
    height: 185px;
    clear: both;
    text-align: center;
    width: 185px;
    font-family: 'Satisfy', cursive;

}
.tic_table .btn {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 100px;
}
.on.turn {
    background-color: #ff4dd2;
    display: block;
    text-align: center;
}
.turn{display:none;}

.modal-body
{
    text-align: center;
    font-size: 125px;
}

.modal-dialog {

}

.leaderTable {
    width: 60%;
    max-width: 100%;
    background: #ffb3ff;
    margin: auto;
    border: 5px solid;
    table-layout: fixed
}

.leaderTable th{
    text-align: center;
}

.leaderTable tbody {
    overflow: auto;
}

.table_conatainer {
    /*height:250px;*/
    /*overflow: auto;*/
}

.jumbotron {
    background: #ffb3ff;
}